@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.App{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  background-image: url('https://res.cloudinary.com/dm34wmjlm/image/upload/v1692519386/Talk-A-Tive/background-image_c0uyzn.jpg');
  background-position: center;
  background-size: cover;
}